* {
    font-family: 'Gloock';
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

a:link {
    text-decoration: underline;
    color: #6650f2;

}

a:visited {
    color: #7a4c9e;
}

a:hover {
    color: black;
}

.header {
    position: relative;
    text-align: center;
}


.header img {
    height: 100%;
    width: 100%;

}

.header h1 {
    text-align: center;
    color: white;
    font-size: 100px;
    background-color: transparent;
    position: absolute;
    top: 47%;
    left: 35%;
    margin: 0;
    text-shadow: 1px 1px 2px black;
}

main, h1 {
    margin: 0 100px;
}

.disclaimer {
    padding: 30px;
}

.introduction {
    text-align: center;
    padding: 20px;
}

.introduction div {
    display: inline-block;
    max-width: 60%;
}

.introduction img {
    display: block;
    position: relative;
    left: 49%;
}


h2 {
    margin-bottom: 10px;
}

h3 {
    font-size: 23px;
}

p {
    margin: 1rem 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: start; /* Center horizontally */
    text-align: center;  /* Center text content */
    margin-top: 20px;
}

.preview-img {
    margin-top: 10px;
    max-height: 400px;
    margin: auto 0;
}

.project-links img {
    width: 60px;
    height: 60px;
    text-align: center;
    margin-top: 8px;
}

.project {
    margin: 20px;
    padding: 30px;
    border: 1px solid #ddd;
}

.project-links a {
    margin-right: 10px;
    display: inline-block;
}

ul, li {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    margin: 0.5rem;
    font-weight: 200;
}

ul ul {
    padding-left: 1.8rem;
}


footer {
    margin: 1rem;
}


@media (max-width: 1024px) {
    .header h1 {
        font-size: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
    }

    .header,
    .header img {
        height: auto;
        width: 100%;
    }

    .header h1 {
        font-size: 2.1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main {
        margin: 0 10px;
        /* Decreased left and right margins */
    }

    .introduction div {
        max-width: 90%;
    }

    .introduction img {
        left: 47%;
    }

    .introduction,
    .project {
        margin: 10px;
        padding: 15px;
    }

    h2 {
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    h3 {
        font-size: 0.9rem;
    }


    p {
        font-size: 0.9em;
        margin: 0.5rem 0;
    }

    li {
        font-size: 0.9rem;
        margin: 0.3rem;
    }

    .preview-img {
        margin-top: 10px;
        max-width: 100%;
        height: auto;
        margin: auto 0;
    }

    .project-links a {
        margin-right: 5px;
    }

    .project-links img {
        width: 40px;
        height: 40px;

    }

    .introduction img {
        width: 30px;
        height: 30px;
    }

    footer {
        margin: 0.5rem;
    }
}